RewriteEngine on
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/setup/
RewriteCond %{REQUEST_URI} !^/update/
RewriteCond %{REQUEST_URI} !^/dev/
RewriteRule .* /public/$0 [L]
DirectoryIndex index.php
